# Go
/bin/
/pkg/
/vendor/
/*.exe
/*.log
/*.test
*.out

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
*.egg
*.egg-info/
.dist/
.build/
*.log


.vscode/
.idea/
*.swp
*.DS_Store
*.user
*.class


*.pdf
*.jpg
*.png
*.docx
# This is a test modification

